http://{$MQTT_DOMAIN} {
    handle /.well-known/acme-challenge/* {
        root * /var/www/certbot
        file_server
    }

    respond "Not Found" 404
}

# Redirect HTTP to HTTPS for app domains
http:// {
    redir https://{host}{uri}
}

https://{$FRONTEND_DOMAIN} {
    reverse_proxy frontend:80
}

https://{$BACKEND_DOMAIN} {
    reverse_proxy backend:8080 {
        # Default settings for all paths
    }
}
