# Redirect HTTP to HTTPS
http:// {
    redir https://{host}{uri}
}

https://{$FRONTEND_DOMAIN} {
    reverse_proxy frontend:80
}

https://{$BACKEND_DOMAIN} {
    reverse_proxy backend:8080 {
        flush_interval -1
    }
}