name: iot-is
services:
  frontend:
    restart: unless-stopped
    image: marvixs/iot-is-frontend
    build:
      context: ../frontend
    environment:
      - API_URL=${API_URL}
    ports:
      - 9000:80
    networks:
      - out-network
      - int-network
  backend:
    restart: unless-stopped
    image: marvixs/iot-is-backend
    build:
      context: ../backend/src/Api
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__PostgresConnection=Host=pg;Port=5432;Database=is_sdg;Username=is;Password=${POSTGRES_PASSWORD}
      - ConnectionStrings__TimescaleConnection=Host=timescaledb;Port=5432;Database=is_sdg;Username=is;Password=${TIMESCALE_PASSWORD}
      - ConnectionStrings__RedisConnection=redis:6379
      - JwtSettings__Secret=${JWT_SECRET}
      - MqttSettings__Host=${EMQX_HOST}
      - MqttSettings__Username=${EMQX_USERNAME}
      - MqttSettings__Password=${EMQX_PASSWORD}
      - RedisSettings__Password=${REDIS_PASSWORD}
      - JwtSettings__ValidIssuer=${JWT_ISSUER}
      - JwtSettings__ValidAudience=${JWT_AUDIENCE}
      - Cors__AllowedOrigins=${CORS_ALLOWED_ORIGINS}
    ports:
      - 9001:8080
    networks:
      - out-network
      - int-network
  pg:
    image: postgres:16-alpine3.20
    restart: unless-stopped
    shm_size: 256mb
    environment:
      POSTGRES_USER: is
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: is_sdg
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    command:
      ["postgres", "-c", "synchronous_commit=off", "-c", "max_connections=200"]
    networks:
      - int-network
  timescaledb:
    image: timescale/timescaledb-ha:pg16.4-ts2.16.1
    restart: unless-stopped
    shm_size: 256mb
    environment:
      POSTGRES_USER: is
      POSTGRES_PASSWORD: ${TIMESCALE_PASSWORD}
      POSTGRES_DB: is_sdg
    ports:
      - 5433:5432
    volumes:
      - timescaledb_data:/home/postgres/pgdata/data
    command:
      ["postgres", "-c", "synchronous_commit=off", "-c", "max_connections=300"]
    networks:
      - int-network
  emqx:
    image: emqx/emqx:5.8.0
    restart: unless-stopped
    ports:
      - "1883:1883" # MQTT
      - "8883:8883" # MQTT over SSL/TLS
      - "18083:18083" # Dashboard
    volumes:
      - ./emqx/cluster.hocon:/opt/emqx/data/configs/cluster.hocon
      - ./emqx/acl.conf:/opt/emqx/etc/acl.conf
      - ./emqx/init_user.json:/opt/emqx/init_user.json
    networks:
      - out-network
      - int-network
  redis:
    image: redis:7.4-alpine3.20
    restart: unless-stopped
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    ports:
      - "6379:6379"
    networks:
      - int-network
volumes:
  pgdata:
  timescaledb_data:

networks:
  int-network:
  out-network: